<script>
	var port = '<%=APP_CONFIG[:ws_port]%>';
	var level_map = JSON.parse('<%=@level_map%>');
	var current_id = '<%= current_user.id %>';
</script>

<script type = 'text/javascript' src = '<%= asset_path('multi_game.js.erb') %>'></script>
<script type = 'text/javascript' src = '<%= asset_path('multi_bullet_logic.js') %>'></script>
<script type = 'text/javascript' src = '<%= asset_path('multi_player_logic.js') %>'></script>

<h1 align="center">Battle city</h1>
<div>
	<p>
		<%= link_to 'exit', user_root_path %>
	</p>

	<div><canvas align="left" id="map" width="624" height="624"></canvas></div>
	<%= button_to "Создать игру", multiplayer_new_path %>
	<%= button_to "Удалить(отключиться)", multiplayer_disconnect_path%>
	<button onclick = 'post_level_map()'>Сохранить карту</button>
	<button onclick = 'post_tank_pos()'>Сохранить позицию</button>
  <div style ="float:right">
		<h2>Доступные игры</h2>
		<%@games.each do |game|%>
			<ul>
				<li>
					<%= game.player1 %>
					<%= button_to "присоединится", multiplayer_connecting_path(:currentgame => game.player1) %>
				</li>
			</ul>
		<% end %>
	</div>

	<div style ="margin-left: 20%">
		<h2>Идет игра</h2>
		<%@ingames.each do |game|%>
			<ul>
				<li><%= game.player1 %> VS <%= game.player2 %></li>
			</ul>
		<% end %>
	</div>

</div>
