<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title> Buttons </title>
</head>
<body>
<div>
	<% if user_signed_in?%>
		<div id="keys">
			<%=@players.playersid %>
			<div id="left" class="btn_dir">
					
			</div>
			<div id="top" class="btn_dir">
					
			</div>
			<div id="down" class="btn_dir">
					
			</div>
			<div id="right" class="btn_dir">
					
			</div>
			<div id="fire" class="btn_dir">
					
			</div>
		</div>
		<script>
			var name = '<%=current_user.email %>';
			var ip = '<%=APP_CONFIG[:ws_ip]%>';
			var port = '<%=APP_CONFIG[:ws_port]%>';
			var player = '<%=@players.playersid %>';
		</script>
		<script src="scripts/direction.js"></script>
	<% else %>
		<%= link_to "введите код", code_new_path %></p>
	<% end %>
</div>
</body>
</html>
