<div>
	<% if user_signed_in?%>
		<div id="keys">
			<div id="left" class="btn_dir">
					<%= image_submit_tag "left.png" %>
			</div>
			<div id="top" class="btn_dir">
					<%= image_submit_tag "up.png"%>
			</div>
			<div id="down" class="btn_dir">
					<%= image_submit_tag "down.png"%>
			</div>
			<div id="right" class="btn_dir">
					<%= image_submit_tag "right.png"%>
			</div>
			<div id="fire" class="btn_dir">
					<%= image_submit_tag "fire.png"%>
			</div>
		</div>
		<script>
			var name = '<%=current_user.email %>';
			var ip = '<%=APP_CONFIG[:ws_ip]%>';
			var port = '<%=APP_CONFIG[:ws_port]%>';
		</script>
		<script src="scripts/direction.js"></script>
	<% else %>
		<%= link_to "введите код", code_new_path %></p>
	<% end %>
</div>
