
<h1>Battle city</h1>
<div>
	<% if user_signed_in?%>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		var socket, host;
		var name = '<%=current_user.email %>';
		host = "ws://192.168.1.80:3004";
		function connect() {
			try {
				socket = new WebSocket(host);
				addMessage("Socket State: " + socket.readyState);

				socket.onopen = function() {
					addMessage("Socket Status: " + socket.readyState + " (open)");
				}

				socket.onclose = function() {
					addMessage("Socket Status: " + socket.readyState + " (closed)");
				}

				socket.onmessage = function(msg) {
					addMessage("Received: " + msg.data);
				}
			} catch(exception) {
				addMessage("Error: " + exception);
			}
		}
		function addMessage(msg) {
			$("#chat-log").append("<p>" + msg + "</p>");
		}
                function send() {
                        var button = btn_id;
			try {
	                    socket.send(button);
                            
			} catch(exception) {
				addMessage("Failed To Send")
			}
						}
		$(function() {
			connect();
		});

	</script>
		<p>Вы вошли как <%=current_user.email %>
			<%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
		</p>
		<div id="keys">
			<div id="left" style="width:200px; height:200px;position: absolute; top: 250px;">
					<%= image_submit_tag "left.png", width: '100%' %>
			</div>
			<div id="top" style="width:200px; height:200px; position: absolute; left: 205px; ">
					<%= image_submit_tag "up.png", width: '100%' %>
			</div>
			<div id="down" style="width:200px; height:200px; position: absolute; left: 205px; top: 350px;">
					<%= image_submit_tag "down.png", width: '100%' %>
			</div>
			<div id="right" style="width:200px; height:200px; position: absolute; left: 405px; top: 250px;">
					<%= image_submit_tag "right.png", width: '100%' %>
			</div>
			<div id="fire" style="width:300px; height:200px; position: absolute; top: 200px; left: 650px;">
					<%= image_submit_tag "fire.png", width: '100%' %>
			</div>
		</div>
	<% else %>
		<%= link_to "введите код", code_new_path %></p>
	<% end %>
  <script>

    var btn_id;
		var bonus = 1;
		var moveSpeed = 300*bonus;
		var fireSpeed = 700*bonus;
		document.getElementById("left").ontouchstart =  function(){
		  var myInterval = setInterval(function() { btn_id = 1; send(); }, moveSpeed);
		  this.ontouchend = function(){ clearInterval(myInterval); }
	  }

		document.getElementById("top").ontouchstart =  function(){
		  var myInterval = setInterval(function() { btn_id = 2; send()}, moveSpeed);
		  this.ontouchend = function(){ clearInterval(myInterval); }
	  }

		document.getElementById("down").ontouchstart =  function(){
		  var myInterval = setInterval(function() { btn_id = 3; send()}, moveSpeed);
		  this.ontouchend = function(){ clearInterval(myInterval); }
	  }

		document.getElementById("right").ontouchstart =  function(){
		  var myInterval = setInterval(function() { btn_id = 4; send()}, moveSpeed);
		  this.ontouchend = function(){ clearInterval(myInterval); }
	  }

		document.getElementById("fire").ontouchstart =  function(){
		  var myInterval = setInterval(function() { btn_id = 5; send()}, fireSpeed);
		  this.ontouchend = function(){ clearInterval(myInterval); }
	  }

</script>
</div>
