<script>
	var ip = '<%=APP_CONFIG[:ws_ip]%>';
	var port = '<%=APP_CONFIG[:ws_port]%>';
</script>
<script type="text/javascript" src="scripts/levels.js"></script>
<script type="text/javascript" src="scripts/player_logic.js"></script>
<script type="text/javascript" src="scripts/bullet_logic.js"></script>
<script type="text/javascript" src="scripts/npc_logic.js"></script>
<script src="scripts/game.js"></script>

<h1>Battle city</h1>
<div id="user_nav">
	<% if user_signed_in?%>
		<p>
			Вы вошли как <%=current_user.email %> <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
		</p>
		<p>
			<%= link_to "Ваш профиль", profile_persons_path %>
		</p>

		<%= button_to "Создать", new_welcome_path %>
		<%= button_to "Disconect", welcome_disconnect_path %>
    <div style ="float:left">
			<h2>Доступные игры</h2>
			<% @games.each do |game| %>
				<ul>
					<li>
						<%= game.player1 %>
						<%= button_to "присоединится", welcome_connecting_path(:currentgame => game.player1) %>
					</li>
				</ul>
			<% end %>
		</div>
		<div style ="margin-left: 20%">
		<h2>Идет игра</h2>
			<% @ingames.each do |game| %>
				<ul>
					<li><%= game.player1 %> VS <%= game.player2 %></li>

				</ul>
			<% end %>
		</div>

		<div style="clear:both"></div>

		<div><canvas align="center" id="map" width="600" height="600"></canvas></div>

		<% else %>
			<p>Пожалуйста <%= link_to "зарегистрируйтесь", new_user_registration_path %> или
			<%= link_to "выполните вход", new_user_session_path %></p>
		<% end %>
	</div>
