<div id="user_nav">

	<% if user_signed_in?%>

		<p>
			Вы вошли как <%=current_user.email %> <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
    </p>

    <p>
      <%= link_to 'multiplayer', multiplayer_path %>
    </p>

		<p>
      <%= link_to 'singleplayer', singleplayer_path %>
    </p>

  <% else %>
		<p>Пожалуйста <%= link_to "зарегистрируйтесь", new_user_registration_path %> или
		<%= link_to "выполните вход", new_user_session_path %></p>
	<% end %>

</div>
