<script type="text/javascript">
	function generate_code() {
		$.ajax({
	    url: "/welcome/generate_code",
	    type: "post",
	    dataType: "json",
	    success: function (data) { $("#code").text('Ваш код: ' +  data.code); }
	  });
	}
</script>
<div class="col-md-3">
</div>
<div id="user_nav" class='col-md-6'>

	<% if user_signed_in?%>

		<p> Перед тем как выбрать режим игры, синхронизируйтесь с вашим устройсвом.
			Для этого сгенерируйте код и введите его на Вашем телефоне
		</p>
		<button onclick = 'generate_code()'>Сгенирировать код</button>
		<br><br>
		<div id = 'code'>Ваш код: <%=current_user.code%></div>
		<ul>
			<li>
      	<%= link_to 'multiplayer', multiplayer_path %>
			</li>
			<li>
      	<%= link_to 'singleplayer', singleplayer_path %>
			</li>
	</ul>
  <% else %>
		<p class="welcome_signin">
	Для начала пожалуйста <%= link_to "зарегистрируйтесь", new_user_registration_path %> или
		<%= link_to "выполните вход", new_user_session_path %></p>
		<%= link_to "Sign in with vk", user_vkontakte_omniauth_authorize_path %>
	<% end %>

</div>
<div class="col-md-3 hi">
	<% if user_signed_in?%>
	<div class="col-md-6"></div>
	<div class="col-md-6">
		<p>	Здравствуйте,</p>
			<p><%=current_user.email %> <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
		</p>
	</div>
	<% end %>
</div>
